.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

label {
    font-weight: 600;
}

input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: var(--clr-dark);
    margin-inline: 0.25rem;
}