.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 350px;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--clr-light);
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.util-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.form-personal .input-list {
    display: none;
}

.form-personal .input-list.active {
    display: flex;
}

.form-personal h2 {
    justify-content: space-between;
    cursor: pointer;
}

.form-section h2 {
    display: flex;
    gap: 0.25rem;
    align-items: center;

}

.input-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-list > h4 {
    text-align: center;
}

.form-item {
    display: none;
    flex-direction: column;
    gap: 1rem;
}

.form-item.active {
    display: flex;
}


.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.form-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1rem;
    cursor: pointer;
    gap: 1rem;
    overflow: hidden;
}

.form-item-header:hover {
    background-color: var(--clr-dark);
}

.form-personal h2 svg {
    transition: 0.2s ease;
}

.form-personal:has(.active) h2>svg{
    transform: rotateZ(90deg);
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

h4 {
    font-weight: 500;
}

h2 span {
    display: flex;
}

