@import "./vars.scss";

.personal-section {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  background-color: $clr-accent;
  color: $clr-light;

  a {
    color: $clr-light;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-underline-offset: 4px;
  }
}

.personal-info {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
}

.name {
  letter-spacing: 0.25rem;
}

.specialty {
  font-size: 1rem;
  color: $clr-dark;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: smaller;
}

.contact-info span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
